Repository semeniak1997/momo-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

stages:
  - module-pipelines

frontend:
  stage: module-pipelines
  trigger: 
    include:
      - '/frontend/.gitlab-ci.yml'
    strategy: depend
  rules:
    - changes:
        - frontend/**/* 
      when: always           
    - changes:
        - helm/frontend/**/*
      when: always

backend:
  stage: module-pipelines
  trigger: 
    include:
      - '/backend/.gitlab-ci.yml'
    strategy: depend
  rules:
    - changes:
        - backend/**/*
      when: always           
    - changes:
        - helm/backend/**/*
      when: always

add atomic keys for helm (backend; frontend); change main CI/CD rules
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

0.0.5 fix Golang test for images
  backend/cmd/api/app/app_test.go
Due: backend

0.0.6 add scripts for config kubectl and cert manager
  infrastructure/scripts/cert_install.sh
  infrastructure/scripts/static_kubeconfig.sh
Due: none

0.0.7 add README.md
  README.md
Due: none

0.0.8 fix frontend configmap
  helm/frontend/templates/configmap.yaml
  infrastructure/terraform/momo-images/momo1
  infrastructure/terraform/momo-images/momo2
  infrastructure/terraform/momo-images/momo3
  infrastructure/terraform/momo-images/momo4
  infrastructure/terraform/momo-images/momo5
  infrastructure/terraform/momo-images/momo6
  infrastructure/terraform/momo-images/momo7
  infrastructure/terraform/momo-images/momo8
Due: frontend

0.0.8 fix 2 frontend configmap
  helm/frontend/templates/configmap.yaml
Due: frontend

0.0.8 fix 3 frontend configmap
  helm/frontend/templates/configmap.yaml
Due: frontend

0.0.8 fix frontend configmap
  helm/frontend/templates/configmap.yaml
Due: frontend

0.0.9 add variables for backend metrics
  helm/backend/templates/deployment.yaml
  helm/backend/values.yaml
Due: backend

0.0.9 fix variables for backend metrics
  helm/backend/values.yaml
Due: backend

0.0.9 fix 2 variables for backend metrics
  helm/backend/templates/deployment.yaml
  helm/backend/values.yaml
Due: backend

0.0.9 fix 3 variables for backend metrics
  helm/backend/templates/deployment.yaml
  helm/backend/values.yaml
Due: backend

reset withiot variable
  helm/backend/templates/deployment.yaml
  helm/backend/values.yaml
Due: backend

0.0.9 add readiness probe for backend
  helm/backend/templates/deployment.yaml
Due: backend

0.0.9 fix readiness probe for backend
  helm/backend/templates/deployment.yaml
Due: backend

edit resources
  helm/backend/templates/deployment.yaml
  helm/backend/values.yaml
Due: backend

edit ingress
  helm/backend/templates/ingress.yaml
  helm/backend/values.yaml
  helm/frontend/templates/configmap.yaml
Due: frontend, backend

optimize ingress paths
  helm/backend/templates/ingress.yaml
  helm/backend/values.yaml
Due: backend

edit backend helm variables for CI/CD
  backend/.gitlab-ci.yml
  helm/backend/templates/secrets.yaml
  helm/backend/values.yaml
Due: backend

edit backend helm variables for CI/CD fix 2
  backend/.gitlab-ci.yml
Due: backend

edit backend helm variables for CI/CD fix 3
  backend/.gitlab-ci.yml
  helm/backend/Chart.yaml
Due: backend

edit backend helm variables for CI/CD fix 4
  backend/.gitlab-ci.yml
Due: backend

edit backend helm variables for CI/CD fix 5
  backend/.gitlab-ci.yml
Due: backend

edit backend helm variables for CI/CD fix 6
  backend/.gitlab-ci.yml
Due: backend

edit backend helm variables for CI/CD fix 7
  backend/.gitlab-ci.yml
Due: backend

edit backend helm variables for CI/CD
  backend/.gitlab-ci.yml
  helm/backend/Chart.yaml
  helm/backend/templates/secrets.yaml
  helm/backend/values.yaml
Due: backend

edit frontend helm variables for CI/CD
  frontend/.gitlab-ci.yml
  helm/frontend/Chart.yaml
  helm/frontend/templates/deployment.yaml
  helm/frontend/templates/secrets.yaml
  helm/frontend/values.yaml
Due: frontend

fix docker secret for frontend
  helm/frontend/templates/secrets.yaml
Due: frontend

add livenessProbe for frontend; edit timeouts
  helm/backend/templates/deployment.yaml
  helm/frontend/templates/deployment.yaml
Due: frontend, backend

separate dev and prod deployment for backend
  backend/.gitlab-ci.yml
Due: backend

separate dev and prod deployment for backend fix
  backend/.gitlab-ci.yml
Due: backend

separate dev and prod deployment for frontend
  frontend/.gitlab-ci.yml
Due: frontend

separate dev and prod deployment for backend fix 2
  backend/.gitlab-ci.yml
Due: backend

fix domain name for dev envs
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend
